
body {
  background-color: #370617

}

.container-one{
width: 468px;
height: 160px;
flex-shrink: 0;
border-radius: 8px;
background: #F48C06;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
display:flex;
margin:20px;
display: flex;
justify-content:flex-start;
align-items: flex-end
} 

.container-two{
width: 468px;
height: 160px
min height: 78px;
flex-shrink: 0;
border-radius: 8px;
background: #F48C06;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
display:flex;
margin:20px;
justify-content:flex-end;
align-items: stretch

} 


.container-three{
width: 468px;
height: 160px;
flex-shrink: 0;
border-radius: 8px;
background: #F48C06;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
display:flex;
margin:20px;
justify-content:flex-start;
align-items: center

} 

.container-four{
width: 468px;
height: 160px;
flex-shrink: 0;
border-radius: 8px;
background: #F48C06;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
display:flex;
margin:20px;
justify-content:space-around
align-content:flex-start

} 


.container-five{
width: 468px;
height: 160px;
flex-shrink: 0;
border-radius: 8px;
background: #F48C06;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
display:flex;
margin:20px;
justify-content:flex-start;
align-content: baseline

} 


.container-six{
width: 468px;
height: 160px;
flex-shrink: 0;
border-radius: 8px;
background: #F48C06;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
display:flex;
margin:20px;
justify-content:center
align-content: center;

} 
.one {
width: 78px;
height: 78px;
flex-shrink: 0;
border-radius: 4px;
background: #9D0208;
align-items: center;
justify-content: right;
margin:20px; 
align-items:flex-start;
}

.two {
  width: 78px;
  height: 78px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #9D0208;
  align-items: center;
  justify-content: right;
  margin:20px; 
  align-items:flex-start;
  }

  .three {
    width: 78px;
    height: 78px;
    flex-shrink: 0;
    border-radius: 4px;
    background: #9D0208;
    align-items: center;
    justify-content: right;
    margin:20px; 
    align-items:flex-start;
    }

    .four {
      width: 78px;
      height: 78px;
      flex-shrink: 0;
      border-radius: 4px;
      background: #9D0208;
      align-items: center;
      justify-content: right;
      margin:20px; 
      align-items:flex-start;
      }

      .five {
        width: 78px;
        height: 78px;
        flex-shrink: 0;
        border-radius: 4px;
        background: #9D0208;
        margin:20px; 
        align-items: center;
        display: flex;
        justify-content: flex-end;

      }
        

        .six {
          width: 78px;
          height: 78px;
          flex-shrink: 0;
          border-radius: 4px;
          background: #9D0208;
          margin:20px; 
          align-items: center;
          display: flex;
          justify-content: flex-end;

          }